body {
	background-color: black;
}

.uno {
	text-align: center;
	border: 2px solid green;
	color: green;
	border-radius: 20px;
	padding: 10px;
	width: 800px;
	margin: auto;
	margin-top: 150px;
	box-shadow: 2px 2px 15px green;
}
 
.in {
	margin-right: 50px;
}
 
li {
	display: inline;
	font-size: 1.5rem;
}

button {
	border-radius: 20px;
	font-size: 1.2rem;
	background-color: green;
	border: 1px solid black;
	box-shadow: 1px 1px 10px green;
}